<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Angular Shopping</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Productos <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/carrito-compras">
        Carrito de compras
        <span class="fas fa-shopping-cart"></span>
        <span class="shopping-cart"> 1</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/register">
        Registrarse
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile"> Bienvenido fulanito</a>
        <a class="nav-link" href='/login'> Iniciar Sesion</a>
      </li>
    </ul>
  </div>
</nav>
