<h2>
  Data Binding uso de ngModel
</h2>

<input type="text" [(ngModel)]="title">
<h3>{{ title }}</h3>

<hr>

<h2>
  Uso de Directiva ngIf
</h2>

<p *ngIf="title === 'contenido'">
  contenido condicional....
</p>

<hr>

<h2>Directiva ngFor</h2>
<ul>
  <li *ngFor="let usuario of usuarios">
    {{ usuario }}
  </li>
</ul>

<h2>Directiva ngFor con Indice</h2>
<ul>
  <li *ngFor="let usuario of usuarios; index as indice">
    {{ usuario }} {{indice}} <button  (click) ='deleteSingleItem(indice)' class="btn btn-secondary"> Borrar </button>
  </li>
</ul>

<hr>
<h2>Agregar un elemento a una lista</h2>
<input type="text" [(ngModel)]="usuario">
<button class="btn btn-primary" (click)='addItem(usuario)'> Agregar item</button>

<button (click) = 'deleteItem()'> Borrar ultimo</button>


<hr>

<h2> ngFor para recorrer Areglos de sObjetos</h2>

<div *ngFor="let producto of productos">
  {{ producto.name }}
  <!-- <img src={{producto.image}} alt=""> -->
  <!-- <img [src]="producto.image" alt=""> -->
  {{producto.price}}
</div>

<hr>

<h2>uso de  NgSwitch</h2>

<div [ngSwitch]="usuario" >
    <p *ngSwitchCase = "'pepito'">
      pepito es caso 1
    </p>

    <p *ngSwitchCase="'maria'">
     maria es caso 2
    </p>


</div>


<hr>
<h2>uso de NgStyle</h2>


<div [ngStyle] = "{'background': usuario }"
>
Hola soy un style dinamico
</div>


<hr>
<h2>uso de ngClass</h2>


<div [ngClass]="{'mi-clase': usuario === '25' }">
  Hola una clase dinamica
</div>
